<%- include('../../partials/header') %>
<%- include("../../partials/navbar", { user: user }) %>

<div class="container mt-5">
    <!-- 
        /**
         * @page Edit User
         * @description Page pour modifier un utilisateur existant.
         * @route GET /users/edit/:id
         * @param {string} userData.id - ID de l'utilisateur à modifier
         * @param {string} userData.username - Nom complet de l'utilisateur
         * @param {string} userData.email - Email de l'utilisateur
         * @example
         * {
         *   "id": "69394d36b355d69648a7f9b1",
         *   "username": "admin",
         *   "email": "admin@example.com"
         * }
         */
    -->
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            Modifier utilisateur
        </div>
        <div class="card-body">
            <form action="/users/edit/<%= userData.id %>" method="POST">
                <div class="mb-3">
                    <label for="name" class="form-label fw-semibold">Nom complet</label>
                    <input type="text" id="username" name="username" class="form-control shadow-sm" value="<%= userData.username %>" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label fw-semibold">Email</label>
                    <input type="email" id="email" name="email" class="form-control shadow-sm" value="<%= userData.email %>" readonly>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label fw-semibold">Mot de passe</label>
                    <input type="password" id="password" name="password" class="form-control shadow-sm" placeholder="Laissez vide pour ne pas changer">
                </div>
                <div class="d-flex gap-2">
                    <button type="submit" class="btn btn-primary">Modifier</button>
                    <a href="/users/" class="btn btn-outline-secondary btn-lg shadow-sm fw-semibold">
                        <i class="bi bi-x-circle me-1"></i> Annuler
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('../../partials/footer') %>
